---
title: Sustainable Design
layout: print
class: _book
script:
- book
external_script:
- https://unpkg.com/bindery
- https://unpkg.com/bindery-controls
---
<h1>MICA Sustainable Graphic Design</h1>
<!--
____________________________________________________

Blank Page
-->
<div>&nbsp;</div>
<div class="_page-break"></div>


<!--
____________________________________________________

Title Page
-->
<div class="title-page">
  <h2>{{ page.title }}</h2>
  <p>
    {% for author in site.authors %}
      {% if forloop.index < site.authors.size %}
        {{ author.name }},
      {% else %}
        {{ author.name }}.
      {% endif %}
    {% endfor %}
  </p>
</div>

<!--
____________________________________________________

Blank Page
-->
<div>&nbsp;</div>
<div class="_page-break"></div>

<h2>Contents</h2>
<div class="toc">
  {% for entry in site.entries %}
  {% assign author = site.authors | where: 'short_name', entry.author | first %}
  <label class="toc-item">
    <div class="toc-pg" data-toc="{{ page.title | slugify }}">
    </div>
    <h4>
      {{ entry.title }} / {{ author.name }}
    </h4>
  </label>
  {% endfor %}
</div>


<div>&nbsp;</div>
<div class="_page-break"></div>

<!--
____________________________________________________

Playing with Printing out Content
https://evanbrooks.info/bindery/guide/
-->
<section id="content">
  {% for entry in site.entries %}
    {% assign author = site.authors | where: 'short_name', entry.author | first %}
    <article>
      <h1 data-change-running-head data-id="{{ entry.title | slugify }}">{{ entry.title | escape }}</h1>
      <h4><a href="{{ author.url | relative_url }}">{{ author.name }}</a></h4>
      <div class="entry-content">
        {{ entry.content | markdownify }}
      </div>
    </article>
    <div class="_page-break"></div>
  {% endfor %}
</section>

<section>
  <article>
    {% for page in site.pages %}
      {% if page.category == 'resources' %}
        <h1>{{ page.title }}</h1>
        <div class="entry-content">
          {{ page.content | markdownify }}
        </div>
      {% endif %}
    {% endfor %}
  </article>
</section>