---
title: Sustainable Design
layout: print
class: _book
script:
- book
external_script:
- https://unpkg.com/bindery
- https://unpkg.com/bindery-controls
---
<!--
____________________________________________________

Blank Page
-->
<div class="_page-break"></div>


<!--
____________________________________________________

Blank Page
-->
<div>&nbsp;</div>
<div class="_page-break"></div>


<!--
____________________________________________________

Title Page
-->
<div class="title-page">
  <h2>{{ page.title }}</h2>
  <p>
    {% for author in site.authors %}
      {% if forloop.index < site.authors.size %}
        {{ author.name }},
      {% else %}
        {{ author.name }}.
      {% endif %}
    {% endfor %}
  </p>
</div>

<!--
____________________________________________________

Blank Page
-->
<div>&nbsp;</div>
<div class="_page-break"></div>

<!--
____________________________________________________

Playing with Printing out Content
https://evanbrooks.info/bindery/guide/
-->
<section id="content">
  {% for entry in site.entries %}
    <article>
      <h2>{{ entry.title | escape }}</h2>
      <div class="entry-content">
        {{ entry.content | markdownify }}
      </div>
    </article>
    <div class="_page-break"></div>
  {% endfor %}
</section>
