---
---

@import 'reset';

._book ._page-break {
	display: block;
	/*outline: 1px solid red;*/
	break-after: region;
	/* margin-bottom: 6in; */
	opacity: 0.1;
}

body {
	font-size: 20px;

	&._book {
		font-size: 12px;
	}
}

h1 {
	padding-bottom: 0.5em;
}

h2 {
	font-weight: 600;
}

h4 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

* + h3 {
	padding-top: 1em;
}

* + h2 {
	padding-top: 1em;
}

p {
	padding-bottom: 1em;
}

main {
	padding: 1rem;
}

header {
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid black;
		
	nav {
		ul {
			padding-left: 0;
			li {
				display: inline-block;

				&:not(:last-child) {
					padding-right: 20px;
				}
			}
		}
	}
}

a {
	text-decoration: none;
	border-bottom: 1px solid;
}

.archive__headings {
	div {
		display: inline-block;
		padding-bottom: 0.5em;
	}

	@media (max-width: 700px) {
		display: none;
	}
}

.archive__entries__entry {
	div {
		display: inline-block;

		@media (max-width: 700px) {
			display: block;
		}
	}
}

.archive__headings__title {
	width: 60%;

	@media (max-width: 700px) {
		width: 100%;
	}
}

.archive__headings__author {
	width: 20%;

	@media (max-width: 700px) {
		width: 100%;
		font-size: 16px;
		padding-bottom: 0.5em;
	}
}

.archive__headings__theme {
	width: 20%;

	@media (max-width: 700px) {
		width: 100%;
		font-size: 16px;
		padding-top: 0.5em;
	}
}

.entry__content {
	p {
		max-width: 36em;
    width: 80%;
	}
}

.caption {
	color: grey;
	font-size: 0.8em;
}