---
---

@import 'reset';

._book ._page-break {
	display: block;
	/*outline: 1px solid red;*/
	break-after: region;
	/* margin-bottom: 6in; */
	opacity: 0.1;
}

body {
	font-size: 20px;

	&._book {
		font-size: 13px;
	}
}

h1 {
	padding-bottom: 0.5em;
}

h2 {
	font-weight: 600;
}

h4 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

* + h3 {
	padding-top: 1em;
}

* + h2 {
	padding-top: 1em;
}

p {
	padding-bottom: 1em;
}

main {
	padding: 1rem;
}

header {
	margin-bottom: 2em;
	padding-bottom: 1em;
	padding: 1rem;
	border-bottom: 1px solid black;
		
	nav {
		ul {
			padding-left: 0;
			li {
				display: inline-block;

				&:not(:last-child) {
					padding-right: 20px;
				}
			}
		}
	}
}

a {
	text-decoration: none;
	border-bottom: 1px solid;
}

.archive__headings {
	div {
		display: inline-block;
		padding-bottom: 0.5em;
	}

	@media (max-width: 700px) {
		display: none;
	}
}

.archive__entries__entry {
	div {
		display: inline-block;

		@media (max-width: 700px) {
			display: block;
		}
	}
}

.archive__headings__title {
	width: 60%;

	@media (max-width: 700px) {
		width: 100%;
	}
}

.archive__headings__author {
	width: 20%;

	@media (max-width: 700px) {
		width: 100%;
		font-size: 16px;
		padding-bottom: 0.5em;
	}
}

.archive__headings__theme {
	width: 20%;

	@media (max-width: 700px) {
		width: 100%;
		font-size: 16px;
		padding-top: 0.5em;
	}
}

.entry__content {
	p {
		max-width: 36em;
    width: 80%;
	}
}

.caption {
	color: grey;
	font-size: 0.8em;
}

._book {
		header {
			display:none;
		}

		h1 {
			font-size: 4rem;
		}
		
		h2 {
			font-size: 1.25rem;
			line-height: 1rem;
			margin-bottom: 1rem;
		}
		
		h3 {
			font-size: 1rem;
			margin-bottom: 1rem;
		}
		
		sup {
			font-size: 0.7rem;
		}

		p {
			margin: 0;
			padding:0;
		}
		p + p {
			text-indent: 2em;
		}
		
		figure {
			margin: 0;
			background: #eee;
			width: 100%;
			height: 100%;
			position: relative;
			margin-bottom: 1.5rem;
			min-height: 240pt;
			overflow: hidden;
		}

		.med-figure {
			background: #e2ebf6;;
		}
		
		.big-figure {
			background: #dff3df;
		}
		
		figure img {
			height: 100%;
		}
		
		figcaption {
			padding: 24pt;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
		
	}
