<!doctype html>
<html lang="en">
  <head>
    {% include meta.html %}
  </head>
  <body {% if page.class %}class="{{ page.class }}"{% endif %}>
    {% include navigation.html %}
    
    <main id="content">
      {{ content }}
    </main>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
    <script src={{ "/assets/js/app.js" | relative_url }}></script>
    {% if page.script %}
      {% for pageScript in page.script %}
        {% assign script = "/assets/js/" | append: pageScript | append: '.js' %}
        <script type="text/javascript" src={{ script | relative_url }}></script>
      {% endfor %}
    {% endif %}

    {% if page.external_script %}
      {% for script in page.external_script %}
        <script type="text/javascript" src={{ script }}></script>
      {% endfor %}
    {% endif %}

    {% if page.layout == 'print' %}
      <script>
        Bindery.makeBook({ 
          content: '#content',
          pageSetup: {
            size: { width: '5.5in', height: '8.5in' },
            margin: { top: '60pt', inner: '48pt', outer: '60pt', bottom: '72pt' },
          },
          rules: [
            Bindery.PageBreak({
              selector: '._page-break',
              position: 'before',
              continue: 'right'
            }),
            Bindery.RunningHeader({
              render: (page) => {
                if (page.isLeft) return `${page.number} · ${'MICA Sustainable Graphic Design'} `;
                else if (page.isRight) return `${page.heading.h2 || ''} · ${page.number}`;
              },
            }),
            Bindery.Footnote({
              selector: 'p > a',
              render: (element, number) => `${number}: Link to ${element.href}`,
            }),
            Bindery.FullBleedSpread({
              selector: '.big-figure',
            }),
          ]
        });
      </script>
    {% endif %}
  </body>
</html>